a:link {
    font-family: 'Rock Salt', sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.3rem;
}

a:visited {
    font-family: 'Rock Salt', sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
}

a:hover {
    font-family: 'Rock Salt', sans-serif;
    text-decoration: none;
    color: #781717;
    font-weight: bold;
    font-size: 1.3rem;
}

#info {
    display: flex;
    width: 700px;
    flex-direction: column;
    margin: auto;
    padding-bottom: 30px;
    padding-top: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-align: center;
}

#map-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rock Salt', sans-serif;
    background-image:url(../assets/map.png);
    width: 1000px;
    height: 658px;
    position: relative;
    margin: auto;
}

.completed-quest {
    font-weight: bold;
    text-decoration: line-through;
    color: #781717;
}

.quest-position {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
}

footer {
    padding: 30px;
}