a:link {
    font-family: 'Rock Salt', sans-serif;
    text-decoration: none;
    color: #BD2424;
    font-weight: bold;
}

a:visited {
    font-family: 'Rock Salt', sans-serif;
    text-decoration: none;
    color: #781717;
}

a:hover {
    font-family: 'Rock Salt', sans-serif;
    text-decoration: none;
    color: #839791;
    font-weight: bold;
}

#map-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rock Salt', sans-serif;
}

.completed-quest {
    text-transform: uppercase;
    text-decoration: line-through;
    color: #781717;
}